{% extends "base.html" %}


{% block title %}

<title> แก้ใขข้อมูล </title>

{% endblock title %}
{% block center %}

{% csrf_token %} 

<p>Hello blockcenter</p>
<h3>edit แก้ใขข้อมูล </h3>
    <p>The classes that can be used are: .table-primary, .table-success, .table-info, .table-warning, .table-danger, .table-active, .table-secondary, .table-light and .table-dark:</p>

    # ส่งข้อมูลด้วย POST และ Action = form ไปที่views
    <form method="POST">
        {% csrf_token %} 

        <div class="form-group mb-3 mt-3">
          <label for="name" class="form-label">รหัสประจำตัว:</label>
          <input type="text" class="form-control" id="name" placeholder="ชื่อผู้ใช้" name="id" value="{{person.id}}">
        </div>

        <div class="form-group mb-3 mt-3">
          <label for="name" class="form-label">ชื่อ:</label>
          <input type="text" class="form-control" id="name" placeholder="ชื่อผู้ใช้" name="name" value="{{person.name}}">
        </div>

        <div class="form-group mb-3">
          <label for="age" class="form-label">อายุ:</label>
          <input type="number" class="form-control" id="age" placeholder="อายุ" name="age" value="{{person.age}}">
        </div>
        
        <input type="submit" value="อัพเดดข้อมูล" class="btn btn-success btn-block">
        
        <a href="{%url 'about-page'%}"><button type="button" class="btn btn-secondary">ยกเลิก</button></a>
    </form
{% endblock center%}
{% block center1 %}




{% endblock center1 %}